.wrap{
    width: 30%;
    border: 3px solid black;
    margin: 0% auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.432);
}
.head{
    background-color:rgba(3, 36, 9, 0.568);
    text-align: right;
    padding-right:50px;
    padding-top: 1px;
    border-bottom: 1px solid white;
}
.bodyy{
    width: 80%;
    display: flex;
    font-size: 35px;

    margin: 0% auto;
}
input:hover{
    background-color: black;
    color: whitesmoke;
}
.btn{
 width: 29%;
 padding: 25px;
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: rgba(255, 255, 255, 0.151);
 border:none ;
 box-shadow: 7px 6px darkseagreen;
}
.btn:active{
    font-weight: bolder;
}
.diff:active{
    font-weight: bolder;
}
.diff{
    box-shadow: 7px 6px darkseagreen;
    width: 29%;
    padding: 25px;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
    margin-top: 15%;
    border:none ;
    background-color: rgba(255, 255, 255, 0.151);
}
.left{
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 0%;
}
.right{
    margin-left: 10%;
    margin-right: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
}